$color1: var(--colour1);
$color2: var(--colour2);
$color4: var(--colour4);
$color5: var(--colour5);
$color6: var(--colour6);
$color7: var(--colour7);
$gradient1: var(--gradient1);
@mixin onHover-mixin($scaleSize, $animationTime) {
  cursor: pointer;
  transition-duration: $animationTime;
  &:hover {
    transform: scale($scaleSize);
    transition-duration: $animationTime;
  }
}

.wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 11;
  backdrop-filter: blur(20px); // Застосовуємо блур-ефект
  -webkit-backdrop-filter: blur(20px); // Для підтримки в Safari
  background: rgba(255, 255, 255, 0); // Прозорий фон без кольору або свічення
  .warning {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: $color1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    &__nlo {
      width: 200px;
    }
    &__text {
      color: $color4;
      font-size: 20px;
    }
    &__link {
      margin-top: 20px;
      color: $color7;
      font-size: 15px;
    }
    &-buttons {
      margin-top: 40px;
      display: flex;
      &__button {
        width: 100px;
        margin-left: 10px;
        padding: 5px 30px;
        font-size: 20px;
        height: 40px;
        background-color: $color2;
        border-radius: 22.5px;
        color: $color4;
        @include onHover-mixin(1.01, 0.3s);
      }
    }
  }
}
